naoqi-cpp/ctc-linux64-atom-2.8.5.10.zip
vrep/CoppeliaSim_Edu_V4_1_0_Ubuntu18_04.tar.xz
naoqi-python-sdk/pynaoqi-python2.7-2.8.5.10-linux64-20181203_200915.tar.gz
naoqi-sdk/naoqi-sdk-2.8.5.10-linux64.tar.gz
